USE [DBCosmetic]
GO
/****** Object:  Table [dbo].[ActionLog]    Script Date: 11/29/2022 11:28:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActionLog](
	[actionLogID] [bigint] NOT NULL,
	[userID] [bigint] NULL,
	[userName] [char](500) NULL,
	[actionName] [nvarchar](50) NULL,
	[modun] [nvarchar](500) NULL,
	[actionType] [int] NULL,
	[actionDate] [datetime] NULL,
	[idOject] [bigint] NULL,
	[nameTable] [nchar](500) NULL,
 CONSTRAINT [PK_ActionLog] PRIMARY KEY CLUSTERED 
(
	[actionLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[cartID] [bigint] NOT NULL,
	[customerID] [bigint] NULL,
	[createDate] [datetime] NULL,
	[isActive] [int] NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[cartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[cartDetailID] [int] NOT NULL,
	[cartID] [bigint] NULL,
	[productID] [bigint] NULL,
	[cartQuantity] [int] NULL,
	[cartMoney] [bigint] NULL,
	[createTime] [datetime] NULL,
	[isActive] [int] NULL,
 CONSTRAINT [PK_CartDetail] PRIMARY KEY CLUSTERED 
(
	[cartDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [bigint] NOT NULL,
	[customerName] [nvarchar](500) NULL,
	[customerMail] [nchar](100) NULL,
	[customerSex] [int] NULL,
	[customerUserName] [nchar](100) NULL,
	[customerPassword] [nchar](100) NULL,
	[customerPhoto] [nchar](1000) NULL,
	[isActive] [int] NULL,
	[dateCreate] [datetime] NULL,
 CONSTRAINT [PK__Customer__B611CB9DC2D2B894] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddress]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddress](
	[ID] [bigint] NOT NULL,
	[customerID] [bigint] NULL,
	[customerAdd] [nvarchar](500) NULL,
	[customerPhone] [nchar](10) NULL,
	[isMain] [int] NULL,
	[customerMail] [char](100) NULL,
	[isActive] [int] NULL,
 CONSTRAINT [PK_CustomerAddress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount](
	[ID] [bigint] NOT NULL,
	[name] [nvarchar](50) NULL,
	[percentDiscount] [int] NULL,
	[productID] [bigint] NULL,
	[dateTo] [datetime] NULL,
	[dateFrom] [datetime] NULL,
	[description] [nvarchar](500) NULL,
	[productType] [int] NULL,
	[isActive] [int] NULL,
	[image] [nchar](500) NULL,
 CONSTRAINT [PK_Discount] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[emID] [bigint] NOT NULL,
	[UserName] [nchar](100) NULL,
	[Password] [nchar](100) NULL,
	[dateCreate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[emID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeDetail]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeDetail](
	[emID] [bigint] NOT NULL,
	[fullName] [nvarchar](500) NULL,
	[birthday] [date] NULL,
	[sex] [nvarchar](50) NULL,
	[photo] [nchar](1000) NULL,
	[phone] [char](10) NULL,
	[mail] [char](200) NULL,
	[posID] [int] NULL,
	[roleID] [int] NULL,
	[address] [nvarchar](500) NULL,
	[isActive] [int] NULL,
 CONSTRAINT [PK__Employee__3214EC278876B4DC] PRIMARY KEY CLUSTERED 
(
	[emID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notiID] [bigint] NOT NULL,
	[sendUserID] [bigint] NULL,
	[sendUserFullName] [nvarchar](500) NULL,
	[receiveUserID] [bigint] NULL,
	[receiveUserFullName] [nvarchar](50) NULL,
	[objectID] [bigint] NULL,
	[objectTypeID] [bigint] NULL,
	[title] [nvarchar](500) NULL,
	[message] [nvarchar](max) NULL,
	[image] [nchar](500) NULL,
	[menutype] [bigint] NULL,
	[isRead] [int] NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[notiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[orderID] [bigint] NOT NULL,
	[customerID] [bigint] NULL,
	[createDate] [datetime] NULL,
	[employeeID] [bigint] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[orderDetailID] [int] NOT NULL,
	[orderID] [bigint] NULL,
	[productID] [bigint] NULL,
	[price] [bigint] NULL,
	[Quantity] [int] NULL,
	[Money] [bigint] NULL,
	[idAdd] [nvarchar](500) NULL,
	[statusID] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[posID] [int] NOT NULL,
	[posName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[posID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProcessOrder]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProcessOrder](
	[processID] [bigint] NOT NULL,
	[objectID] [bigint] NULL,
	[shippingName] [nvarchar](500) NULL,
	[sendUserID] [bigint] NULL,
	[sendUserFullName] [nvarchar](500) NULL,
	[sendDate] [datetime] NULL,
	[finishDate] [datetime] NULL,
	[receiveUserID] [bigint] NULL,
	[receiveUserFullName] [nvarchar](500) NULL,
	[processType] [int] NULL,
	[status] [int] NULL,
	[description] [nvarchar](50) NULL,
	[isActive] [int] NULL,
 CONSTRAINT [PK_ProcessOrder] PRIMARY KEY CLUSTERED 
(
	[processID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[productID] [bigint] NOT NULL,
	[productName] [nvarchar](500) NULL,
	[productQuantity] [bigint] NULL,
	[productPrice] [bigint] NULL,
	[productDescribe] [nvarchar](max) NULL,
	[productImage] [nchar](500) NULL,
	[productTypeID] [int] NULL,
	[isActive] [int] NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK__Product__2D10D14A9F25E3F2] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductDetail]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductDetail](
	[ProductID] [bigint] NOT NULL,
	[Size] [char](100) NULL,
	[Color] [char](100) NULL,
	[img1] [nchar](500) NULL,
	[img2] [nchar](500) NULL,
	[img3] [nchar](500) NULL,
	[origin] [nvarchar](500) NULL,
	[brand] [nvarchar](500) NULL,
	[desciption] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductDetail] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[proTypeID] [int] NOT NULL,
	[proTypeName] [nvarchar](50) NULL,
	[isActive] [int] NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[proTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[ID] [bigint] NOT NULL,
	[emID] [bigint] NULL,
	[salary] [bigint] NULL,
	[bonus] [bigint] NULL,
	[dateUpdate] [datetime] NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sex]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sex](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Sex] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 11/29/2022 11:28:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[statusID] [int] NOT NULL,
	[statusName] [nvarchar](50) NULL,
	[isActive] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[statusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cart] ([cartID], [customerID], [createDate], [isActive]) VALUES (20221123193347, 20221115094943, CAST(N'2022-11-23T19:33:47.613' AS DateTime), NULL)
INSERT [dbo].[Cart] ([cartID], [customerID], [createDate], [isActive]) VALUES (20221125033804, 20221125033626, CAST(N'2022-11-25T03:38:04.643' AS DateTime), NULL)
INSERT [dbo].[Cart] ([cartID], [customerID], [createDate], [isActive]) VALUES (20221127125914, 20221127125413, CAST(N'2022-11-27T12:59:14.933' AS DateTime), NULL)
GO
INSERT [dbo].[CartDetail] ([cartDetailID], [cartID], [productID], [cartQuantity], [cartMoney], [createTime], [isActive]) VALUES (0, 20221123193347, 20221107214725, 7, 3850000, NULL, -1)
INSERT [dbo].[CartDetail] ([cartDetailID], [cartID], [productID], [cartQuantity], [cartMoney], [createTime], [isActive]) VALUES (1, 20221123193347, 20221107215023, 7, 9100000, CAST(N'2022-11-23T19:37:21.247' AS DateTime), -1)
INSERT [dbo].[CartDetail] ([cartDetailID], [cartID], [productID], [cartQuantity], [cartMoney], [createTime], [isActive]) VALUES (2, 20221123193347, 20221117154732, 2, 1398000, CAST(N'2022-11-23T19:41:50.380' AS DateTime), -1)
GO
INSERT [dbo].[CustomerAddress] ([ID], [customerID], [customerAdd], [customerPhone], [isMain], [customerMail], [isActive]) VALUES (11072110162022, 20221107211015, N'36/21A đường Trần Tấn,Phường Tân Sơn Nhì,Quận Tân Phú,Thành phố Hồ Chí Minh', N'0928832121', 1, NULL, 1)
INSERT [dbo].[CustomerAddress] ([ID], [customerID], [customerAdd], [customerPhone], [isMain], [customerMail], [isActive]) VALUES (11072120482022, 20221107211015, N'36/21A đường Trần Tấn,Xã Hạ Long,Huyện Vân Đồn,Tỉnh Quảng Ninh', N'0928832121', 0, NULL, 1)
INSERT [dbo].[CustomerAddress] ([ID], [customerID], [customerAdd], [customerPhone], [isMain], [customerMail], [isActive]) VALUES (11072159392022, 20221107215939, N'36/21A đường Trần Tấn,Phường Tân Sơn Nhì,Quận Tân Phú,Thành phố Hồ Chí Minh', N'0123      ', 1, NULL, 1)
GO
INSERT [dbo].[Employee] ([emID], [UserName], [Password], [dateCreate]) VALUES (20221122112537, N'msc.tutl                                                                                            ', N'202CB962AC59075B964B07152D234B70                                                                    ', CAST(N'2022-11-22T11:25:37.447' AS DateTime))
INSERT [dbo].[Employee] ([emID], [UserName], [Password], [dateCreate]) VALUES (20221127142535, N'msc.hactth                                                                                          ', N'202CB962AC59075B964B07152D234B70                                                                    ', CAST(N'2022-11-27T14:25:35.463' AS DateTime))
GO
INSERT [dbo].[Order] ([orderID], [customerID], [createDate], [employeeID], [status]) VALUES (20221124144912, 20221125033626, CAST(N'2022-11-24T14:49:12.990' AS DateTime), 20221124144912, 2)
INSERT [dbo].[Order] ([orderID], [customerID], [createDate], [employeeID], [status]) VALUES (20221124144938, 20221125033626, CAST(N'2022-11-24T14:49:38.677' AS DateTime), 20221124144938, 3)
INSERT [dbo].[Order] ([orderID], [customerID], [createDate], [employeeID], [status]) VALUES (20221125144443, 20221125033626, CAST(N'2022-11-25T14:44:43.037' AS DateTime), 20221125144443, 2)
GO
INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [productID], [price], [Quantity], [Money], [idAdd], [statusID]) VALUES (0, 20221124144912, 20221107214725, 550000, 3, 1650000, N'66 Trần Tấn,Phường Tân Sơn Nhì,Quận Tân Phú,Thành phố Hồ Chí Minh', 1)
INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [productID], [price], [Quantity], [Money], [idAdd], [statusID]) VALUES (1, 20221124144938, 20221117154732, 699000, 1, 699000, N'66 Trần Tấn,Phường Tân Sơn Nhì,Quận Tân Phú,Thành phố Hồ Chí Minh', 1)
INSERT [dbo].[OrderDetail] ([orderDetailID], [orderID], [productID], [price], [Quantity], [Money], [idAdd], [statusID]) VALUES (2, 20221125144443, 20221107214834, 350000, 1, 350000, N'66 Trần Tấn,Phường Tân Sơn Nhì,Quận Tân Phú,Thành phố Hồ Chí Minh', 1)
GO
INSERT [dbo].[Position] ([posID], [posName]) VALUES (1, N'Quản trị hệ thống')
INSERT [dbo].[Position] ([posID], [posName]) VALUES (2, N'Quản lý')
INSERT [dbo].[Position] ([posID], [posName]) VALUES (3, N'Nhân viên chăm sóc khách hàng')
GO
INSERT [dbo].[ProcessOrder] ([processID], [objectID], [shippingName], [sendUserID], [sendUserFullName], [sendDate], [finishDate], [receiveUserID], [receiveUserFullName], [processType], [status], [description], [isActive]) VALUES (20221128074118, 20221127183607, N'Giao hàng nhanh', NULL, NULL, CAST(N'2022-11-28T00:00:00.000' AS DateTime), CAST(N'2022-11-30T00:00:00.000' AS DateTime), 20221122112537, NULL, 0, NULL, N'', NULL)
INSERT [dbo].[ProcessOrder] ([processID], [objectID], [shippingName], [sendUserID], [sendUserFullName], [sendDate], [finishDate], [receiveUserID], [receiveUserFullName], [processType], [status], [description], [isActive]) VALUES (20221128213416, 20221124144912, N'Giao hàng nhanh', NULL, NULL, CAST(N'2022-11-28T00:00:00.000' AS DateTime), CAST(N'2022-12-08T00:00:00.000' AS DateTime), 20221122112537, NULL, 0, NULL, N'', NULL)
INSERT [dbo].[ProcessOrder] ([processID], [objectID], [shippingName], [sendUserID], [sendUserFullName], [sendDate], [finishDate], [receiveUserID], [receiveUserFullName], [processType], [status], [description], [isActive]) VALUES (20221128214123, 20221127124315, N'J&T', NULL, NULL, CAST(N'2022-11-28T00:00:00.000' AS DateTime), CAST(N'2022-11-28T00:00:00.000' AS DateTime), 20221122112537, NULL, 0, NULL, N'', NULL)
GO
INSERT [dbo].[ProductType] ([proTypeID], [proTypeName], [isActive]) VALUES (0, N'Tẩy trang', 1)
INSERT [dbo].[ProductType] ([proTypeID], [proTypeName], [isActive]) VALUES (1, N'Sửa rửa mặt', 1)
INSERT [dbo].[ProductType] ([proTypeID], [proTypeName], [isActive]) VALUES (2, N'Tẩy tế bào chết', 1)
GO
INSERT [dbo].[Sex] ([ID], [Name]) VALUES (0, N'Giới tính')
INSERT [dbo].[Sex] ([ID], [Name]) VALUES (1, N'Nam')
INSERT [dbo].[Sex] ([ID], [Name]) VALUES (2, N'Nữ')
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notification', @level2type=N'COLUMN',@level2name=N'objectID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1.user  2.datHang  3. khuyen mai' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Notification', @level2type=N'COLUMN',@level2name=N'objectTypeID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'0:Đơn hàng' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcessOrder', @level2type=N'COLUMN',@level2name=N'processType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'processtype=0(status=0:đang lấy hàng,1:đang vận chuyển,2:Đang giao,3:Giao thành công)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ProcessOrder', @level2type=N'COLUMN',@level2name=N'status'
GO
