<div class="form-group">
    <label for="input-url">Timezone</label>
    <input type="text" class="form-control" placeholder="Timezone" id="input-url" data-filter="https://iqbalfn.com/timezone/?q=#QUERY#">
</div>

<script>
    document.addEventListener('DOMContentLoaded', e => {
        $('#input-url').autocomplete()
    }, false);
</script>