<div class="buttons"> <button class="cart-button"> <span class="add-to-cart">Add to cart</span> 
    <span class="added">Item added</span> <i class="fa fa-plus"></i>
    <i class="fa fa-circle-thin"></i> <i class="fa fa-check"></i> </button> </div>
<link rel="stylesheet" href="~/css/cart.css "/>
<script>
    document.addEventListener("DOMContentLoaded", function (event) {


        const cartButtons = document.querySelectorAll('.cart-button');

        cartButtons.forEach(button => {

            button.addEventListener('click', cartClick);

        });

        function cartClick() {
            let button = this;
            button.classList.add('clicked');
        }



    });
</script>
<link rel=" stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />