<select class="js-example-data-ajax form-control">
    <option value="3620194" selected="selected">select2/select2</option>
</select>
<script>
    $('#mySelect2').select2({
        ajax: {
            url: 'https://api.github.com/search/repositories',
            data: function (params) {
                var query = {
                    search: params.term,
                    page: params.page || 1
                }

                // Query parameters will be ?search=[term]&page=[page]
                return query;
            }
        }
    });
</script>