.carousel {
    position: relative;
    height:200px;
}

.carousel-item img {
    object-fit: cover;
}

#carousel-thumbs {
    /*background: rgba(255,255,255,.3);
     margin-bottom
      left: 0;*/
    /* padding: 0 50px;*/
    /*right: 0;*/
}

    #carousel-thumbs img {
        border: 5px solid transparent;
        cursor: pointer;
    }

        #carousel-thumbs img:hover {
            border-color: rgba(255,255,255,.3);
        }

    #carousel-thumbs .selected img {
        border-color: #fff;
    }

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
}
