<style>

    .navbar-toggler {
        font-size: 15px
    }

    .nav-linkprohome {
        font-size: 14px;
        color: #000 !important;
        font-weight: bold;
        margin-left: 40px
    }

    .text {
        font-size: 23px;
        font-weight: bold
    }

    .imagename {
        font-size: 14px;
        font-weight: bold
    }

</style>
 <div class="container">
     <div class="d-flex justify-content-center align-items-center mt-5">
         <button class="btn btn-dark">CÁC DANH MỤC CỦA CHÚNG TÔI</button>
     </div>
     <div class="d-flex justify-content-center mt-3">
         <span class="text text-center">Tìm kiếm sản phẩm tốt nhất ngay bây giờ<br> trên đầu ngón tay của bạn</span>
     </div>
     <div class="row mt-2 g-4">
         <div class="col-md-3">
             <div class="card p-2">
                 <div class="d-flex justify-content-between align-items-center p-2">
                     <div class="flex-column lh-1 imagename"> <span>Son</span> <span>Môi</span> </div>
                     <div> <img src="~/Asset/img/product/sonmoi.png" height="100" width="100" /> </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3" >
             <div class="card p-2" >
                 <div class="d-flex justify-content-between align-items-center p-2">
                     <div class="flex-column lh-1 imagename"> <span>Cọ</span> <span>trang điểm</span> </div>
                     <div> <img src="~/Asset/img/product/cotrangdiem.jpg" height="100" width="100" /> </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card p-2">
                 <div class="d-flex justify-content-between align-items-center p-2">
                     <div class="flex-column lh-1 imagename"> <span>Phấn</span> <span>mắt</span> </div>
                     <div> <img src="~/Asset/img/product/phanmat.jpeg" height="100" width="100" /> </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card p-2">
                 <div class="d-flex justify-content-between align-items-center p-2">
                     <div class="flex-column lh-1 imagename"> <span>Vitamin</span> <span>dưỡng da</span> </div>
                     <div> <img src="~/Asset/img/product/vitamin.jpg" height="100" width="100" /> </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card p-2">
                 <div class="d-flex justify-content-between align-items-center p-2">
                     <div class="flex-column lh-1 imagename"> <span>Kem</span> <span>nền</span> </div>
                     <div> <img src="~/Asset/img/product/kemduongda.jpg" height="100" width="100" /> </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card p-2">
                 <div class="d-flex justify-content-between align-items-center p-2">
                     <div class="flex-column lh-1 imagename"> <span>Nước</span> <span>hoa</span> </div>
                     <div> <img src="~/Asset/img/product/nuochoa.jpg" height="100" width="100" /> </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card p-2">
                 <div class="d-flex justify-content-between align-items-center p-2">
                     <div class="flex-column lh-1 imagename"> <span>Smart</span> <span>Televisions</span> </div>
                     <div> <img src="~/Asset/img/product/kemchongnang.jpg" height="100" width="100" /> </div>
                 </div>
             </div>
         </div>
         <div class="col-md-3">
             <div class="card p-2">
                 <div class="d-flex justify-content-between align-items-center p-2">
                     <div class="flex-column lh-1 imagename"> <span>Mặt</span> nạ</div>
                     <div> <img src="~/Asset/img/product/matna.jpg" height="100" width="100" /> </div>
                 </div>
             </div>
         </div>
     </div>

 </div>