@if (@ViewBag.user == null)
{
}
else
{
    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
        <i class="ti-bell mx-0">&#xf07a;</i>
        <span class='badge badge-warning' id='lblCartCount'> 5 </span>
        <div class="item-content">Thông báo</div>

    </a>
    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown">
        <p class="mb-0 font-weight-normal float-left dropdown-header">Thông báo</p>
        <a class="dropdown-item" href="#">
            <div class="item-thumbnail">
                <div class="item-icon bg-info">
                    <img src="https://dotb.vn/wp-content/uploads/2020/12/6658860_preview.png" />
                    @*<i class="ti-shopping-cart mx-0"></i>*@
                </div>
            </div>
            <div class="item-content">
                <h6 class="font-weight-normal"><img src="~/Asset/img/discount/hot-sale.png" height="20" width="20"/>  
                Bạn vừa nhận được voucher giảm giá 10%</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                   Click ngay để xem chi tiết
                </p>
            </div>
        </a>
        <a class="dropdown-item">
            <div class="item-thumbnail">
                <div class="item-icon bg-info">
                    <img src="~/Asset/img/product/bo-co-trang-diem-naked3-12-cay-cao-cap-1.jpg" />
                    @*<i class="ti-shopping-cart mx-0"></i>*@
                </div>
            </div>
            <div class="item-content">
                <h6 class="font-weight-normal">Đơn hàng của bạn đã được xác nhận</h6>
                <p class="font-weight-light small-text mb-0 text-muted">
                    2 sản phẩm
                </p>
            </div>
        </a>
        <a class="mb-0 font-weight-normal float-sm-right dropdown-header" href="@Url.Action("AllCart","ShoppingCart")">Xem tất cả</a>
    </div>
}
