<link rel="stylesheet" href="~/css/alert/notlogin.css" />

<script>
    var HideModalDel = function () {

        $("#modalNotLogin").modal("hide");
    }
</script>


    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#modalNotLogin">
        <i class="fa fa-check"></i>
        Thêm vào giỏ hàng
    </button>



<div class="modal fade" id="modalNotLogin" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">



            <div class="text-right cross"> <i class="fa fa-times" data-dismiss="modal"></i> </div>
            <h4 class="mt-1 text-md-center">Bạn chưa đăng nhập </h4>
            <div class="card-body text-center mb-5">
                <img src="https://partner.vnptmoney.vn/assets/image/background/img-login.svg" height="200" width="200">

                <p>Đăng nhập ngay để trải nghiệm dịch vụ của chúng tôi !</p>
                <div class="form-group mt-3">
                    <input type="text" id="phone" class="form-control" required placeholder="Số điện thoại của bạn">
                    <input type="password" id="pws" class="form-control" required placeholder="Mật khẩu">
                </div>
                <button class="btn btn-out btn-square continue mb-3">Đăng nhập</button><br>
                <a href="#" data-dismiss="modal">Không ! Cám ơn</a> ||  <a href="#">Đăng kí ngay !</a>

            </div>


        </div>
    </div>
</div>







